body {
    background-color: gray;
    margin: 0;
}

header{
    color: white;
    text-align: center;
    font-size:50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}
nav{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: black;
    margin:0;
    height:100px;
    line-height: 100px;
    
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    padding: 5px;
}

nav ul li a:hover{
    background-color:white;
    color:black;
}
main section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.summary_container {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.summary_container p {
    margin-top: 0;
}

footer{
    text-align: center;
    margin: 10px;
    padding: 10px;
}